body{
    margin: 0%;
    padding: 0%;
    font-family: 'Darker Grotesque', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li{
    float: right; 
    padding: 1em;
}

#header{
    float: left;
    font-family: 'Darker Grotesque:700', sans-serif
}
a{
    text-decoration: none;
    font-size: 2em;
}
nav{
    background-color:  grey;
    height:8.5vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
}