.foot-ul {
  list-style-type: none;
  margin: 0;
  padding: 0.7em 50vw;
  overflow: hidden;
  background-color: #ba834d;
  bottom: 0;
  position: fixed;
}

.foot-li {
  margin: auto;
  color: #2e335b;
  font-weight: bold;
}